form.login-form {
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	text-align: center;
	width: 35%;
	border: solid white 1px;
	border-radius: 15px;
}

input {
	margin-top: 12px;
	margin-bottom: 20px;
	padding: 6px 6px;
	width: 250px;
	border: 0;
	outline: 0;
	border-bottom: 1px solid white;
	font-size: 14px;
	color: #fff;
	background-color: #000;


}

label {
	font-family: 'Abel', sans-serif;
}

@media only screen and (max-width: 1200px) {

form.login-form {
	width: 280px;
}

}